mixin dropdownCategory(expenditure, income)
    .dropdown_box
        .target 선택하세요
        .icon &#5167;
    ul.dropdown_category.hidden
        each item in expenditure
            li.dropdown_item.expenditure
                .content= item
        each item in income
            li.dropdown_item.income.hidden
                .content= item

mixin dropdownPayment(list)
    .dropdown_box 
        .target 선택하세요
        .icon &#5167;
    ul.dropdown_payment.hidden
        each item in list
            li.dropdown_item(id=item.id)
                .content= item.payment
                img(src='/images/payment_delete.png')
        li.dropdown_item 
            span.content 추가하기

-const expenditureCategories = ['생활', '식비', '교통', '쇼핑/뷰티', '의료/건강', '문화/여가', '미분류']
-const incomeCategories = ['월급']
form(action="/history", method="POST")
    input(type="hidden" name="year" value=year)
    input(type="hidden" name="month" value=month_num)
    input#id(type="hidden" name="id" value=-1)
    .input_bar 
        .input_box.date
            -const curDate = new Date();
            -const date = `${curDate.getFullYear()}-${(curDate.getMonth()+1).toString().padStart(2,0)}-${curDate.getDate().toString().padStart(2,0)}`;
            label.input_date_text 일자
            input(type="date", name="date", id="date", placeholder="입력하세요", value=date)
        .input_box.category
            label.input_category_text 분류
            input(type="hidden", name="category", id="category", value='미분류')
            +dropdownCategory(expenditureCategories, incomeCategories)
        .input_box.memo
            label.input_memo_text 내용
            input(type="text", name="memo", id="memo", placeholder="입력하세요")
        .input_box.payment
            label.input_payment_text 결제수단
            input(type="hidden", name="payment", id="payment", value='미분류')
            -console.log(payments);
            +dropdownPayment(payments)
        .input_box.price
            label.input_price_text 금액
            div
                span -
                input(type="hidden", name="sign", value=-1)
                input(type="text", name="price", id="price", placeholder="입력하세요")
        button.input_box.save_btn(type="submit")
            img(src="/images/save_btn.png")