.input_bar 
    .input_box.date
        label.input_date_text 일자
        -var curDate = new Date();
        -var date = `${curDate.getFullYear()}${curDate.getMonth().toString().padStart(2,0)}${curDate.getDay().toString().padStart(2,0)}`
        input(type="text", name="date", id="date", placeholder="입력하세요", value=date)
    .input_box.category
        label.input_category_text 분류
        -var categories = ['선택하세요', '생활', '식비', '교통', '쇼핑/뷰티', '의료/건강', '문화/여가', '미분류']
        select(name="category", placeholder="선택하세요")
            each index in categories 
                option(value=index)= index
    .input_box.memo
        label.input_memo_text 내용
        input(type="text", name="memo", id="memo", placeholder="입력하세요")
    .input_box.payment
        -var payments = ['선택하세요']
        label.input_payment_text 결제수단
        select(name="payment", placeholder="선택하세요")
            each index in payments 
                option(value=index)= index
    .input_box.price
        label.input_price_text 금액
        input(type="text", name="price", id="price", placeholder="입력하세요")
    a.input_box.save_btn(href="/#")
        img(src="images/save_btn.png")